.social-media-icon:hover {
  transform: scale(1.1);
}

.social-media-icon {
  height: 40px;
  width: 40px;
  margin: 10px 20px;
  filter: invert(100%);
  transition: 0.25s;
}

.social-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
  //   border: 1px solid red;
}

.music-title {
  flex: 2;
  min-width: 300px;
  margin: 10px auto;
  text-align: left;
  //   border: 1px solid red;
}

.music-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
  margin: 0 10px;
  border-bottom: 1px solid white;
}

.music-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 3% auto;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

@media (max-width: 1350px) {
  .music-cards {
    max-width: 600px;
  }
}

.music-page {
  margin: 0px 5%;
  width: 100%;
}
