.logo {
  max-height: 100%;
  align-self: flex-start;
}

.nav-item a {
  text-decoration: none;
  font-family: 'Franklin Gothic', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
}

.nav-item {
  border: 1px solid purple;
}

.nav-items {
  display: flex;
  flex: 10;
  justify-content: space-around;
  border: 1px solid orchid;
}

.header {
  flex: 1;
  display: flex;
  min-height: 0;
  align-items: center;
  border: 1px solid blue;
}

.body {
  flex: 12;
  border: 1px solid red;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer {
  flex: 1;
  border: 1px solid green;
  align-items: center;
  text-align: center;
  justify-content: center;
}
