.footerItem:hover {
    // transform: scale(1.2);
    transform: translateY(-5px);
}

.footerItem {
    height: 40px;
    width: 40px;
    margin: 10px 20px 5px 20px;
    filter: invert(100%);
    transition: 0.25s;
}
@media (max-width: 1000px) {
    .footerItem {
        height: 40px;
        width: 40px;
        margin: 5px 2%;
        filter: invert(100%);
        transition: 0.25s;
    }
}

.footer {
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-right: 20px;
    animation: fade 0.5s ease-in-out forwards; // animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(50%);
}

@media (max-width: 350px) {
    .footer {
        display: none;
    }
}

@keyframes fade {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
